nav {
  background-color: #191f28;
  padding: 1em 0;
  text-align: center;
}

nav ul#full-size-nav {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 40vw;
  margin-bottom: 0;
}

nav ul#full-size-nav li {
  display: inline-block;
  color: white;
  font-family: 'Bree Serif', serif;
}

section {
  padding: 2em;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section p {
  text-align: center;
}

section a {
  text-decoration: underline;
}

.section-header {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2em;
}

h1 {
  font-size: 3em;
}
h4 {
  font-size: 1.75em;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s opacity;
}

a:hover {
  opacity: 0.5;
}

h1, h2, h3, h4, h5,
#project-list li a {
  font-family: 'Bree Serif', serif;
  text-align: center;
}

p, span, div, a, li {
  font-family: 'Lato', sans-serif;
}

hr {
  width: 100%;
  border: 0;
  border-bottom: 1px dashed #fff;
  /* background: #999; */
}

button.hamburger {
  background-color: transparent !important;
}

/* Hero */
#hero {
  background-color: #18bd9b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero > div {
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#self-img-wrap {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  border: 10px solid #efefef;
  margin-bottom: 1em;
}

#hero img {
  height: 100%;
  border-radius: 100%;
  box-shadow: 2px 4px 6px rgba(55, 55, 55, 0.5);
}

/* About */

#about {
  background-color: #ffa27a;
  color: white;
}

#about a {
  color: white;
}

/* Projects */

#projects hr {
  border-bottom: 1px dashed black;
}

#project-list {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#project-list li {
  width: calc(100% / 5);
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#project-list li img {
  margin-bottom: 1em;
  width: 106px;
  height: 106px;
  object-fit: contain;
}

#project-list li h4 {
  margin-bottom: 1em;
}

#project-list li p {
  line-height: 135%;
}

/* Contact */

#contact {
  background-color: #535963;
  color: white;
}

#contact form {
  width: 80%;
  margin: 0 auto;
}

#contact form input
#contact form textarea {
  color: white !important;
}

#contact form input:active,
#contact form input:focus,
#contact form textarea:active,
#contact form textarea:focus {
  border-color: #18bd9b;
}

input[type="submit"] {
  background-color: #18bd9b;
  border-color: #18bd9b;
}